{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3  class="text-center">Editar Produto da lista {{listaproduto.lista}}</h3>
<div class="card w-50 mx-auto" id="card-produto">
    <div class="card-body">
        <form action="/admin/listaprodutos/edit" method="post">
            <input type="hidden" name="id" value="{{listaproduto._id}}">
            <label for="nome">Nome:</label>
            <input type="test"  id="nome_produto" name="nome_produto"
                value="{{listaproduto.nome}}" class="form-control">
            <br>

            <label for="preco">Preço:</label>
            <input type="text" min="0.5" step="any" id="preco" name="preco" placeholder="Preço do Produto"
                value="{{listaproduto.preco}}" class="form-control">
            
<br>
  <label for="validade">Validade:</label>
            <input type="date"  id="validade" name="validade" placeholder="Selecione o vencimento do produto"
                class="form-control">

                <br>

             <label for="categoria">Categoria:   (Se não achar a categoria desejada, <a href="#modalCategoria" data-bs-toggle="modal" data-bs-target="#modalCategoria">clique aqui</a> )</label>
            <select class="form-select form-select-sm" name="categoria" id="categoria">
                <option value="0" selected class="testeoption">Selecione uma categoria</option>
                {{#each categoria}}
                <option value="{{_id}}" class="testeoption">{{nome}}</option>
                {{/each}}
            </select>
     

<input type="text" hidden value="{{listaproduto.categoria}}" name="categoria">
<input type="text" hidden value="{{listaproduto.lista}}" name="lista">


            {{!-- <select class="form-select form-select-sm" name="categoria" id="categoria">
                 <option value="{{_id}}" name="categoria">{{listaproduto.categoria}}</option>
               {{#each categoria}}
                <option value="{{nome}}">{{nome}}</option>
                {{/each}}
            </select> --}}
            {{!-- <br>
            <label for="preco">Lista:</label>
            <select class="form-select form-select-sm" name="lista" id="lista">
                {{#each lista}}
                <option value="{{_id}}">{{nome}}</option>
                {{else}}
                <option value="0">Nenhuma Lista Cadastrada</option>
                {{/each}}
            </select>
            <br> --}}

            <button type="submit" class="btn btn-success mt-4">Editar Produto </button>
        </form>
    </div>

</div>

<div class="modal " id="modalCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="card-title-view" >Cadastrar Categoria</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form action="/admin/categoria/nova/modal" method="post" id="formModal">
        <label id="modal-categoria" for="">Categoria:</label><br>
        <input type="text" name="categoria" class="form-control" placeholder="Nome da Categoria" >
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" form="formModal" class="btn btn-success">Adicionar</button>
      </div>
    </div>
  </div>
</div>