

<div class="container">
    <h2>Lista: {{lista.nome}}</h2>
  <a href="/admin/listaprodutos/add/{{lista.nome}}" class="btn btn-success">Adicionar Produto</a>
  <a href="/usuarios/compartilhar/{{lista.nome}}" class="btn btn-success">Compartilhar Lista</a>
<br>


<br>
  

<table class="table table-bordered" id="tabela-produtos">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Categoria</th>   
            <th scope="col">Validade</th>   
            <th scope="col">Ação</th>   
            {{!-- <th scope="col">id</th> --}}
        </tr>
    </thead>
    <tbody>
     
         {{#each listas}}
        <tr>
            <td>{{nome}}</td>
            <td class="preco"  value=" {{preco}}">{{preco}}</td>
            <td>{{categoria}}</td>
            <td>{{validade}}</td>
           <td><input type="text" hidden="true" name="listaprodutoid" value="{{_id}}">
           <a href="/admin/listaprodutos/edit/{{_id}}" class="btn btn-warning">Editar</a>
           
           <a href="/admin/listaprodutos/delete/{{_id}}" class="btn btn-danger">Deletar</a>
           
           </td>
        </tr>
        {{/each}}

    </tbody>
</table>

<h3></h3>

<button onclick="myFunction()" class="btn btn-primary" id="printPageButton">Imprimir</button>
</div>
<script>
    function myFunction() {
        var css = '@page { size: landscape; }',
            head = document.head || document.getElementsByTagName('head')[0],
            style = document.createElement('style');

        style.type = 'text/css';
        style.media = 'print';

        if (style.styleSheet) {
            style.styleSheet.cssText = css;
        } else {
            style.appendChild(document.createTextNode(css));
        }

        head.appendChild(style);

        window.print();

       
        
    }


var precoteste = document.getElementsByClassName("preco")





for (let item of precoteste) {
   var preconumero =  Number(item.textContent.replace(/[^0-9.-]+/g,""))


console.log(preconumero[0])

}










</script>